{% extends "main.html.jinja" %}

{% block main %}
  <p>Select an election</p>
  <div id="electionTable" style="width:100%"></div>
  <p>Current candidates in selected election:</p>
  <div id="currentElectionCandidateTable" style="width:100%"></div>

  <p>Add candidate to election</p>
  <div id="candidateTable" style="width:100%"></div>

  <button id="addCandidateBtn" class="btn btn-primary">Add candidate</button>

{% endblock %}

{% block javascript %}
  <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
  <script type="text/javascript">

  var electionTable;
  var candidateTable;
  var currentElectionCandidateTable = null;
  var currentCandidates = [];

  function createCurrentElectionCandidateTable(){
    if(currentElectionCandidateTable){
      try{
        setCurrentCandidatesByElection(currentElectionCandidateTable.getSelectedData()[0].id);
      }catch(error){
        console.log(error);
      }
    }
    currentElectionCandidateTable = new Tabulator("#currentElectionCandidateTable", {
      data: currentCandidates, //assign data to table
      autoColumns: true, //create columns from data field names
      selectable: 1,
      maxHeight:"40%"
    }); 
  }


  function setCurrentCandidatesByElection(election_id){
    $.get({
      url: "election/candidate",
      data: {"electionId": election_id},
      success: function(data){
        currentCandidates = [];
        for(let x = 0; x < data.length; x++){
          currentCandidates.push(data[x]);
        }
      }
    });
  }

//  $().ready(function(data){
//    $.get({
//      url: "election/candidate", 
//      dataType: "json",
//      data: JSON.stringify({"electionId": electionTable.getSelectedData()[0].id}),
//      success: updateCurrentElectionCandidateTable
//    });
//  });

  $().ready(function(e){
    $.get("/election/all", function(data){

      for(let i = 0; i < data.length; i++){
        delete data[i]["candidates"];
      }
      electionTable = new Tabulator("#electionTable", {
        data: data, //assign data to table
        autoColumns: true, //create columns from data field names
        selectable: 1,
        maxHeight:"40%"
      });
    });
  });


  $().ready(function(e){
    $.get("/candidate/all", function(data){
      candidateTable = new Tabulator("#candidateTable", {
        data: data.candidates, //assign data to table
        autoColumns: true, //create columns from data field names
        selectable: 1,
        maxHeight:"40%"
      });
    });
  });

  $("#addCandidateBtn").click(function(){
    $.post({
      url: "election/candidate",
      dataType: "json",
      contentType: "application/json",
      beforeSend: function(request){
        request.setRequestHeader("Authorization", getJwtHeader())
      },
      data: JSON.stringify({
        "electionId": electionTable.getSelectedData()[0].id,
        "candidateId": candidateTable.getSelectedData()[0].id
      }),
      success: function(){
        electionTableLoad();
      }
    });
  });


  $().ready(function(){
    createCurrentElectionCandidateTable();
  });


  function electionTableLoad(data){
    if(electionTable.getSelectedData()[0].id === "undefined") return;
    let electionId = electionTable.getSelectedData()[0].id;
    $.get({
      url: "election/candidate",
      data: {"electionId": electionId},
      success: function(data){
        currentCandidates = [];
        for(let x = 0; x < data.length; x++){
          currentCandidates.push(data[x]);
        }
        createCurrentElectionCandidateTable();
      }
    });
  }


  $( "#electionTable" ).click(electionTableLoad);

  </script>
{% endblock %}