{% extends "main.html.jinja" %}

{% block main %}
  <p>Select an election</p>
  <div id="electionTable" style="width:100%"></div>
  <p>Current candidates in selected election:</p>
  <div id="currentElectionCandidateTable" style="width:100%"></div>

  <p>Add candidate to election</p>
  <div id="candidateTable" style="width:100%"></div>

  <button id="addCandidateBtn" class="btn btn-primary">Add candidate</button>

{% endblock %}

{% block javascript %}
  <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
  <script type="text/javascript">

  var electionTable;
  var candidateTable;
  var currentElectionCandidateTable;


  function updateCurrentElectionCandidateTable(data){
    currentElectionCandidateTable = new Tabulator("#currentElectionCandidateTable", {
      data: data, //assign data to table
      autoColumns: true, //create columns from data field names
      selectable: 1,
      maxHeight:"40%"
    }); 
  }

  function getCandidatesByElection(election_id){
    return Promise.resolve($.get({
      url: "election/candidate",
      data: {"electionId": election_id},
      success: function(data){
        let candidates = [];
        for(let x = 0; x < data.length; x++){
          candidates.push(data[x]);
        }
        return candidates;
      }
    }));
  }

//  $().ready(function(data){
//    $.get({
//      url: "election/candidate", 
//      dataType: "json",
//      data: JSON.stringify({"electionId": electionTable.getSelectedData()[0].id}),
//      success: updateCurrentElectionCandidateTable
//    });
//  });

  $().ready(function(e){
    $.get("/election/all", function(data){

      for(let i = 0; i < data.length; i++){
        delete data[i]["candidates"];
      }
      electionTable = new Tabulator("#electionTable", {
        data: data, //assign data to table
        autoColumns: true, //create columns from data field names
        selectable: 1,
        maxHeight:"40%"
      });
    });
  });


  $().ready(function(e){
    $.get("/candidate/all", function(data){
      candidateTable = new Tabulator("#candidateTable", {
        data: data.candidates, //assign data to table
        autoColumns: true, //create columns from data field names
        selectable: 1,
        maxHeight:"40%"
      });
    });
  });

  $("#addCandidateBtn").click(function(){
    $.post({
      url: "election/candidate",
      dataType: "json",
      contentType: "application/json",
      beforeSend: function(request){
        request.setRequestHeader("Authorization", getJwtHeader())
      },
      data: JSON.stringify({
        "electionId": electionTable.getSelectedData()[0].id,
        "candidateId": candidateTable.getSelectedData()[0].id
      }),
      success: updateCurrentElectionCandidateTable
    });
  });



  $( "#electionTable" ).click(function(data){
    let electionId = electionTable.getSelectedData()[0].id;
    let candidates = getCandidatesByElection(electionId).then(function(result){return result});
    updateCurrentElectionCandidateTable(getCandidatesByElection(candidates));
  });

  </script>
{% endblock %}