{% extends "main.html.jinja" %}

{% block main %}
<p>Create a new user:</p>

<a href="/user" class="btn btn-primary">Create new user</a>
<a href="/election" class="btn btn-primary">Create new election</a>
{% endblock %}

{% block javascript %}
{% endblock %}