{% extends "main.html.jinja" %}

{% block main %}
<p>Create a new election:</p>
<form id="createElectionForm" action="/election">
  <div class="form-group">
    <label for="exampleInputElectionName">Election name</label>
    <input type="text" class="form-control" name="inputElectionName" aria-describedby="ElectionNameHelp" placeholder="Enter name of election">
  </div>
  <div class="form-group">
    <label for="inputStartDate">Start date</label>
    <input type="date" class="form-control" name="inputStartDate">
    <label for="inputStartTime">Start time</label>
    <input type="time" class="form-control" name="inputStartTime">
    <label for="inputEndDate">End date</label>
    <input type="date" class="form-control" name="inputEndDate">
    <label for="inputEndTime">End time</label>
    <input type="time" class="form-control" name="inputEndTime">
  </div>
  <label for="candidatesGrid">Select candidates to participate in election:</label>
  <div id="candidatesGrid" style="height: 200px; width:500px;" class="ag-theme-alpine"></div>
  <button type="submit" class="btn btn-primary">Create election</button>
</form>

{% endblock %}

{% block javascript %}
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
  <script type="text/javascript">
    $("#createElectionForm").submit(function(e) {

      e.preventDefault(); // avoid to execute the actual submit of the form.

      var form = $(this);
      var url = form.attr('action');

      $.ajax({
        type: "POST",
        url: url,
        headers: getJwtHeader(),
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
            alert("User created! User ID: " + data.userId);
            document.getElementById("createElectionForm").reset();
        }
      });
    });

    function CheckboxRenderer() {}

    CheckboxRenderer.prototype.init = function(params) {
        this.params = params;

        this.eGui = document.createElement('input');
        this.eGui.type = 'checkbox';
        this.eGui.checked = params.value;

        this.checkedHandler = this.checkedHandler.bind(this);
        this.eGui.addEventListener('click', this.checkedHandler);
    }

    CheckboxRenderer.prototype.checkedHandler = function(e) {
        let checked = e.target.checked;
        let colId = this.params.column.colId;
        this.params.node.setDataValue(colId, checked);
    }

    CheckboxRenderer.prototype.getGui = function(params) {
        return this.eGui;
    }

    CheckboxRenderer.prototype.destroy = function(params) {
        this.eGui.removeEventListener('click', this.checkedHandler);
    }


        
    const columnDefs = [
        {
        headerName: 'Select',
        field: 'selector',
        cellRenderer: 'checkboxRenderer'
        },
        { field: "Candidate" }
    ];

        // specify the data
    const rowData = [
        { Candidate: "Celica"},
        { Candidate: "test user"}
    ];

        // let the grid know which columns and what data to use
    const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData
    };
    gridOptions.components = {
        checkboxRenderer: CheckboxRenderer
    }
    // setup the grid after the page has finished loading
    document.addEventListener('DOMContentLoaded', () => {
        const gridDiv = document.querySelector('#candidatesGrid');
        new agGrid.Grid(gridDiv, gridOptions);
    });

  </script>
{% endblock %}