{% extends "main.html.jinja" %}

{% block main %}
<p>Create a new user:</p>
<form id="createUserForm" action="/user">
  <div class="form-group">
    <label for="exampleInputUsername">Username</label>
    <input type="text" class="form-control" name="inputUsername" aria-describedby="usernameHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}