{% extends "main.html.jinja" %}

{% block main %}
<p>Create a new election:</p>
<div id="createElectionForm" action="election">
  <div class="form-group">
    <label for="exampleInputElectionName">Election name</label>
    <input type="text" class="form-control" id="inputElectionName" aria-describedby="ElectionNameHelp" placeholder="Enter name of election">
  </div>
  <div class="form-group">
    <label for="inputStartDate">Start date</label>
    <input type="date" class="form-control" id="inputStartDate">
    <label for="inputEndDate">End date</label>
    <input type="date" class="form-control" id="inputEndDate">
  </div>
  
  <button id="createElectionbutton" class="btn btn-primary">Create election</button>
</form>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $("#createElectionbutton").click(function(e) {


      $.ajax("/election", {
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        beforeSend: function(request){
          request.setRequestHeader("Authorization", getJwtHeader())
        },
        data: JSON.stringify({
          "electionName": document.getElementById('inputElectionName').value,
          "startDate": document.getElementById('inputStartDate').value,
          "endDate": document.getElementById('inputEndDate').value
        }),
        success: function(data){
          alert("Election successfully created!!! Election ID: " + data.electionId);
          document.getElementById('inputElectionName').value = "";
          document.getElementById('inputStartDate').value = "";
          document.getElementById('inputEndDate').value = "";
        }
      });
    });
  </script>
{% endblock %}