{% extends "main.html.jinja" %}

{% block main %}
<p>Create a new user:</p>
<form id="createUserForm">
  <div class="form-group">
    <label for="exampleInputUsername">Username</label>
    <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Enter password">
  </div>
  <input type="radio" id="admin" name="userType" value="CSS">
  <label for="admin">Admin</label><br>
  <input type="radio" id="standard" name="userType" value="JavaScript">
  <label for="standard">Standard</label>
  <br/>
  <br/>
  <button id="submitButton" type="submit" class="btn btn-primary">Create new user</button>
</form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $("#createUserForm").submit(function(e) {

      e.preventDefault(); // avoid to execute the actual submit of the form.

      let form = $(this);
      let url = form.attr('action');
      let userType = document.getElementsByName('userType');

      $.ajax("/user", {
        type: "POST",
        dataType: "json",
        contentType: "application/json",
        beforeSend: function(request){
          request.setRequestHeader("Authorization", getJwtHeader())
        },
        data: JSON.stringify({
          "username": document.getElementById('inputUsername').value,
          "password": document.getElementById('inputPassword').value,
          "userType": userType[0].checked ? "admin" : "standard"
        }),
        success: function(data){
          if(data){
              alert(data);
              window.location = "/";
          }else{
              alert("An error occurred while creating the user!!");
          }
        },
        error: function(httpObj, textStatus){
          alert(httpObj.status);
        }
      });
  });
  </script>
{% endblock %}